.grid-container{
    display:grid;
    height: 600px;
    width: 1000px;
    border: 20px solid rgb(177, 172, 172);
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 65% 10%;
    grid-template-areas:
    "head head head head"
    "nav nav nav nav"
    "aside main main main"
    "foot foot foot foot"
}

.site-header{
    grid-area: head;
    background-color:gray;
    border: 2px solid black;
}

.header-content{
    text-align: center;
    margin-top:10px;
}

.site-navbar{
    grid-area:nav;
}

.site-aside{
    grid-area:aside;
    border: 1px solid black;
}

.site-main{
    grid-area:main;
    border: 1px solid black;
}


.site-foot{
    grid-area:foot;
    display:flex;
    border: 1px solid black;
    background-color:gray;
    align-items: center;
    justify-content: center;
}
.foot-content{
    display:flex;
    
    
}


.site-logo{
    width:120px;
    height:40px;
    background-color:white;
    float:left;
    margin-left:10px;
    top:50%;
    position:relative;
    transform: translateY(-50%);
    border:2px solid black;
}

.nav-flexbox{
    display:flex;
    flex-flow: row;
    height:100%;
}

.nav-item{
    display:flex;
    border:black solid 1px;
    flex-basis:1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #E7E7E7 url(do_pracy/nav_bar/images/link.png) no-repeat left;
}

.nav-item-content{
    display:flex;
    font-size: 24px;
    color:black;
}

a#HomeLink>.nav-item{
    background: #E7E7E7 url(do_pracy/nav_bar/images/home.png) no-repeat left;
}
/*ur here formation*/

a#UrHere>.nav-item{
    background: white url(do_pracy/nav_bar/images/bg_here.png) no-repeat left;
}

a.NormalLink>.nav-item:hover, #HomeLink>.nav-item:hover{
    font:bold;
    text-transform: uppercase;
    background: #B2F511 url(do_pracy/nav_bar/images/go.png) no-repeat left;
}

a{
    display: contents;
    text-decoration: none;
}

.aside-flexbox{
    display:flex;
    flex-flow: column;
    height: 100%;
}

.aside-item{
    border: 1px black solid;
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.aside-item-content{
    display:flex;
    font-size: 18px;
    font-style: italic;
    width:fit-content
}

a>.aside-item:hover{
    background:cyan;
    border: blue 3px solid;
}

a>.aside-item:hover > .aside-item-content{
    font-style:normal;
    font-size: 24px;
    text-transform:lowercase;
}