<a routerLink="/cart" class="button-accent fixed-bottom-right">
  <div class="left-right">
    <img src="assets/icons/shopping-cart.png" alt="zdj koszyka" srcset="">
  <div>
    <p>Cart value ${{getCartValue() | number: '1.0-2'}}</p>
    <p>{{ getOrderedAmount(dishes) }} items</p>
  </div>
</div>
</a>

<!-- <div class="order-details">
  <h2 [ngStyle]="{
      'background-color': getOrderedAmount(dishes) > 10 ? 'blue' : 'orange'
    }">
    Ilość zamówionych dań: {{ getOrderedAmount(dishes) }}
  </h2>
</div> -->
<div class="dishes" *ngIf="dishes != []">

<!-- 
  [ngClass]="{
    'most-expensive': dish.price == getMaxPriceDish(dishes).price,
    'least-expensive': dish.price == getMinPriceDish(dishes).price
  }" -->

  <div class="dish"   *ngFor="let dish of dishes | slice:currentPage*amountToShow ; index as idx" [ngStyle]="{
      'display': amountToShow > idx ? 'block' : 'none'}">
    <div class="clickable" routerLink="/dishes/{{dish.id}}" (click)="alertLogIn(); $event.stopPropagation()">


      <div class="dish-inner">

          <img src="{{ dish.imagelink[0] }}" alt="{{ dish.name }}" />
        <h3>{{ dish.name | uppercase }}</h3>
        <p class="type">kuchnia {{ dish.type | uppercase }}, {{ dish.category }}</p>

        <!-- <p class="desc">{{ dish.shortdesc }}</p>
    <p class="ingr">Składniki: {{ dish.ingredients }}</p> -->
        <div class="bottom">
          <span class="price">{{ dish.currency }}{{ dish.price }}</span>
          <!-- <div class="btn-container">
            <div *ngIf="countDishInCart(dish) < dish.maxperday" class="addBasket btn" (click)="addClick(dish)">
          ➕
        </div>


            <div class="removeBasket btn" (click)="removeClick(dish)">➖</div>
          </div> -->
        </div>
        <div *ngIf="countDishInCart(dish) < dish.maxperday && dish.maxperday - countDishInCart(dish) > 3"
          class="button-accent button-accent-green" (click)="addClick(dish); $event.stopPropagation()">
          Add to cart
        </div>
        <div *ngIf="countDishInCart(dish) >= dish.maxperday" class="button-accent button-disabled" (click)="$event.stopPropagation()">
          No longer available
        </div>
        <div *ngIf="dish.maxperday - countDishInCart(dish) <= 3 && dish.maxperday - countDishInCart(dish) > 0"
          class="button-accent button-accent-green" (click)="addClick(dish); $event.stopPropagation()">
          Only {{ dish.maxperday - countDishInCart(dish) }} left!
        </div>

        <!-- <div class="bottom-info">
      <app-dish-rating (ratingChanged)="ratingEventHandler(dish, $event)" [dishLikes]="dish.likes"
        [dishDislikes]="dish.dislikes"></app-dish-rating>
      <p class="amount-info">ilość: {{ countDishInCart(dish) }}</p>
    </div> -->
        <!-- <a routerLink="/dishes/{{dish.id}}">
      <p class="button-accent" (click)="alertLogIn()">Więcej szczegółów</p>
    </a> -->
        <!-- <p *ngIf="dish.maxperday - countDishInCart(dish) <= 3" class="bottom-info-text">
        Pozostało {{ dish.maxperday - countDishInCart(dish) }} dań!
      </p> -->
        <!-- <p *ngIf="dish.maxperday - countDishInCart(dish) > 3" class="bottom-info-text"></p> -->

      </div>

    </div>
  </div>


</div>
<div class="paginate">
  <h4>Items on page</h4>
  <span class="button-accent" [ngClass]="{
    'button-accent-active': amountToShow == 10}" (click)="setAmountToShow(10)">10</span>
  <span class="button-accent" [ngClass]="{
    'button-accent-active': amountToShow == 25}" (click)="setAmountToShow(25)">25</span>
  <span class="button-accent" [ngClass]="{
    'button-accent-active': amountToShow == 50}" (click)="setAmountToShow(50)">50</span>
</div>
<div class="center">


  <h4>Page</h4>
  

  <span class="button-accent" [ngClass]="{
    'button-accent-active': currentPage==i}" (click)="changePage(i)"
    *ngFor="let n of createRange(((dishes.length - (dishes.length % amountToShow)) / amountToShow)+1); index as i">{{i}}</span>
</div>