body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:3%;
    margin-right:3%;
}

.navbar{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    align-items:center;

}

.navbar-logo > img{
    width:140%;
}
.navbar-center-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-center-menu-item{
    display:flex;
    margin-right:15px;
    margin-left:15px;
    color:gray;

}

#request-invite-button-container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,9,1) 0%, rgba(0,212,255,1) 100%);
    padding:20px;
    border-radius:20px;
    color:white;
}


a{
    text-decoration: none;
    color: inherit;
}