.container{
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    border:3px solid red;
}

.test{
    height:300px;
    width:300px;
    background-color:red;
    position:relative;
}


.test:hover::before{
    content:'';
    position:absolute;
    width:350px;
    height:350px;
    background-color:t  ransparent;
    border: 20px solid;
    border-color: tomato;
    border-radius:40px;
    top:-45px;
    left:-45px;
}
.test::before{
    position:absolute;
    content:'';
    width:0;
    height:0;
    top:0;
    left:0;
}