<div class="container">
    <h1>Zadanie 3.</h1>
    <div class="zadanie-container">
        <app-ulub-aktor></app-ulub-aktor>
    </div>
    <h1>Zadanie 4.</h1>
    <div class="zadanie-container">
        <app-tabliczka></app-tabliczka>
    </div>
    <h1>Zadanie 5.</h1>
    <div class="zadanie-container">
        <app-zad5></app-zad5>
    </div>
    <h1>Zadanie 6.</h1>
    <div class="zadanie-container">
        <app-zad6parent></app-zad6parent>
    </div>
    <h1>Zadanie 7.</h1>
    <div class="zadanie-container">
        <app-kalkulator></app-kalkulator>
    </div>
</div>

