<h1>Panel użytkownika</h1>
<h2>Informacje o użytkowniku</h2>
<ul>
    <li><strong>Email: </strong>{{auth.userData.email}}</li>
    <li><strong>Email potwierdzony: </strong>{{auth.userData.emailVerified}}</li>
    <li><strong>UserID: </strong>{{auth.userData.uid}} </li>
    <li><strong>Konto stworzone: </strong> {{auth.userData.metadata.creationTime}}</li>
    <li><strong>Ostatnie logowanie: </strong>{{auth.userData.metadata.lastSignInTime}} </li>
</ul>
<h2>Twoje uprawnienia: </h2>
<ul>
    <li><strong>Gość: </strong>{{auth.userRoles?.guest}}</li>
    <li><strong>Klient: </strong>{{auth.userRoles?.client}}</li>
    <li><strong>Menager:  </strong>{{auth.userRoles?.menager}}</li>
    <li><strong>Admin:   </strong>{{auth.userRoles?.admin}}</li>
</ul>