.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 4em;
}

h2.shdesc {
  color: rgb(61, 61, 61);
  font-style: italic;
}
img {
  margin: 1em;
  border-radius: 20px;
  width: 640px;
  height: 360px;
}
h2,p{
  margin-top:1em;
  margin-bottom:1em;
}
.desc {
  font-size: 2em;
}

.ingr {
  font-weight: bold;
}
.price {
  color: green;
  font-weight: bolder;
}

.top-right{
  position: absolute;
  z-index: 0;
  right: 0;
}

.inner {
  position: relative;
  width: 100%;
}

.in-cols{
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.photoselect span{
  margin-right:0.3em;
  margin-left:0.3em;
}

span.np:hover {
  color: white;
  transition: 300ms ease all;
}
span.np {
  transition: 300ms ease all;
}

.review {
  border: 1px solid black;
  margin: 1em;
}
.strong {
  font-weight: bold;
  font-size: 1.2em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
