.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top:60px;
}

h1 {
  font-size: 4em;
}

h2.shdesc {
  color: rgb(61, 61, 61);
  font-style: italic;
}
img {
  margin: 1em;
  border-radius: 20px;
  width: 640px;
  height: 360px;
}
h2,p{
  margin-top:1em;
  margin-bottom:1em;
}
.desc {
  font-size: 2em;
}

.ingr {
  font-weight: bold;
}
.price {
  color: green;
  font-weight: bolder;
}

.top-right{
  position: absolute;
  z-index: 0;
  right: 0;
}

.fixed-bottom-right{
  position:fixed;
  z-index:20;
  bottom: 1em;
  right:1em;
}


.inner {
  position: relative;
  width: 100%;
}

.in-cols{
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.photoselect span{
  margin-right:0.3em;
  margin-left:0.3em;
}

span.np:hover {
  color: white;
  transition: 300ms ease all;
}
span.np {
  transition: 300ms ease all;
}

.review {
  border: 1px solid black;
  margin: 1em;
}
.strong {
  font-weight: bold;
  font-size: 1.2em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 2.6em;
  }
  img{
    width: 498px;
    height: 280px;
  }
  h2{
    font-size:0.8em;
  }
}

@media only screen and (max-width: 516px) {
  h1 {
    font-size: 1.2em;
  }
  h2{
    font-size:0.6em;
  }
  img{
    width: 356px;
    height: 200px;
  }
  .in-cols{
    flex-direction: column;
  }
  .fixed-bottom-right {
    left:10%;
    bottom:1em;
    width:80%;
  }
}

