<div class="form-container">
    <h2>Dodaj danie</h2>
    <form [formGroup]="dishAddForm">
        <div class="left-right">
          <label for="name">Nazwa dania:</label>
          <input id="name" type="text" formControlName="dishname" />
        </div>
      
        <div class="left-right">
          <label for="type">Typ kuchni:</label>
          <input id="type" type="text" formControlName="dishtype" />
        </div>
      
        <div class="left-right">
          <label for="category">Kategoria:</label>
          <input id="category" type="text" formControlName="dishcategory" />
        </div>
      
        <div class="left-right">
          <label for="ingredients">Składniki:</label>
          <input id="ingredients" type="text" formControlName="dishingredients" />
        </div>
      
        <div class="left-right">
          <label for="maxperday">Maks na dzień:</label>
          <input id="maxperday" type="text" formControlName="dishmaxperday" />
        </div>
      
        <div class="left-right">
          <label for="price">Cena:</label>
          <input id="price" type="text" formControlName="dishprice" />
        </div>
      
        <div class="left-right">
          <label for="shortdesc">Opis:</label>
          <input id="shortdesc" type="text" formControlName="dishshortdesc" />
        </div>
      
        <div class="left-right">
          <label for="imagelink">Ścieżka do zdj:</label>
          <input id="imagelink" type="text" formControlName="dishimagelink" />
        </div>
      
        <button type="submit" (click)="submitForm()">Dodaj</button>
        <p *ngIf="showError">Wprowadź poprawne dane!</p>
        <p *ngIf="showOk">Poprawnie dodano potrawę!</p>
      </form>
      
</div>
