<div class="centered">
    <span class="line"></span>
</div>
<div class="footer">
    <div class="footer-container">
        <div class="footer-item">
            <p>phone 1: +48 420 694 206</p>
            <p>phone 2: +48 240 945 403</p>
            <p>Randomowa 924/33 street </p>
            <p>Rynek, Kraków, check <a href="assets/mapa.png" class="accented">map</a></p>
        </div>
        <div class="logos">
            <a href="#"><img src="assets/icons/instagram.png" alt="instagram logo"></a>
            <a href="#"><img src="assets/icons/facebook.png" alt="facebook logo"></a>
            <a href="#"><img src="assets/icons/twitter.png" alt="twitter logo"></a>
            <a href="#"><img src="assets/icons/google-maps.png" alt="google-maps logo"></a>
        </div>
    </div>
</div>