.footer {
    margin-top:auto; 
}

.footer-container{
    margin-left:1em;
    margin-right:1em;
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
    margin-bottom:1em;
}

img{
    width:3em;
    height:3em;
    margin: 0 1em 0 1em;
}

.logos{
    display:flex;
    flex-direction: row;
}
.line {
    display: block;
    width:80%;
    height: 2px;
    margin: 0.8em;
    margin-bottom:1.6em;
    background: var(--colorPrimary);
    opacity: 0.5;
}

.centered{
    display:flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 516px) {
    .logos{
        flex-basis:70%;
        flex-wrap: wrap;
    }
    img{
        width:2em;
        height:2em;
    }
    p{
        font-size:0.6em;
    }
    .footer{
        padding-bottom:6em;
    }
  }
