<ng-container *ngIf="auth.userRoles?.menager == true">
  <h1>Panel menagera</h1>


  <h2>Zarządzaj daniami</h2>
  <ng-container *ngIf="dishes != []">
    <div class="center">
      <table>
        <tr>
          <th>Id</th>
          <th>Nazwa</th>
          <th>Opcje</th>
        </tr>
        <tr *ngFor="let dish of dishes">
          <td>{{dish.id}}</td>
          <td>{{dish.name}}</td>
          <td>
            <button (click)="deleteDish(dish.id)" class="button-accent" >USUŃ</button>
            <button routerLink="modify/{{dish.id}}" class="button-accent">MODYFIKUJ</button>
          </td>
        </tr>
      </table>
    </div>

  </ng-container>
  <app-dish-add></app-dish-add>
</ng-container>