<div class="navbar-container">
  <div class="navbar-left">
    <a routerLink="/"><div class="logo"><h1>Masne Fryty</h1></div></a>
    <div class="menu-items">
      <a *ngIf="auth.userRoles.admin==true" routerLink="admin"><div class="menu-item panel-btn" routerLinkActive="active-link2">Panel Admina</div></a>
      <a *ngIf="auth.userRoles.menager==true" routerLink="menager"><div class="menu-item panel-btn" routerLinkActive="active-link2">Panel Menagera</div></a>
    </div>
  </div>

  <div class="menu-items">
    
    <a routerLink="/dashboard" *ngIf="auth.userData!=null"><div class="menu-item" routerLinkActive="active-link">Panel użytkownika {{auth.userData.email}}</div></a>
    <a routerLink="/register" *ngIf="auth.userData==null"><div class="menu-item login-register-btn" routerLinkActive="active-link">Zarejestruj</div></a>
    <a routerLink="/login" *ngIf="auth.userData==null"><div class="menu-item login-register-btn" routerLinkActive="active-link">Zaloguj</div></a>
    <div class="menu-item logout-btn" (click)="auth.signOut()" *ngIf="auth.userData!=null">Wyloguj</div>
    <a routerLink="/dishes" ><div class="menu-item" routerLinkActive="active-link">Posiłki</div></a>
    <a routerLink="/shipping"><div class="menu-item" routerLinkActive="active-link">Dostawa</div></a>
    <a routerLink="/aboutus"><div class="menu-item" routerLinkActive="active-link">O nas</div></a>
  </div>
  <div class="hamburger-button hidden">
    <button type="button" (click)="hamburgerHandler()">
      <span [class.anim-1]="hamburgerOpened == true"></span>
      <span [class.anim-2]="hamburgerOpened == true"></span>
      <span [class.anim-3]="hamburgerOpened == true"></span>
    </button>
  </div>
  <div class="menu-ham-items" [class.rolled-in]="hamburgerOpened == true" [class.rolled-out]="hamburgerOpened==false">
    <div class="wrapper">
      <a *ngIf="auth.userRoles?.menager==true" routerLink="/dashboard-menager" routerLinkActive="active-link2"><div class="menu-item panel-btn" routerLinkActive="active-link">Panel Menagera</div></a>
      <a *ngIf="auth.userRoles?.admin==true" routerLink="/dashboard-admin" routerLinkActive="active-link2"><div class="menu-item panel-btn" routerLinkActive="active-link">Panel Admina</div></a>
      <a routerLink="/dashboard" (click)="optionChosen()" *ngIf="auth.userData!=null" routerLinkActive="active-link"><div class="menu-item">Panel użytkownika {{auth.userData.email}}</div></a>
      <a routerLink="/register" (click)="optionChosen()" *ngIf="auth.userData==null"><div class="menu-item login-register-btn" routerLinkActive="active-link">Zarejestruj</div></a>
      <a routerLink="/login" (click)="optionChosen()" *ngIf="auth.userData==null"><div class="menu-item login-register-btn" routerLinkActive="active-link">Zaloguj</div></a>
      <div class="menu-item logout-btn" (click)="auth.signOut(); optionChosen()" *ngIf="auth.userData!=null">Wyloguj</div>
      <a routerLink="/dishes" ><div class="menu-item" routerLinkActive="active-link" (click)="optionChosen()">Posiłki</div></a>
      <a routerLink="/shipping"><div class="menu-item" routerLinkActive="active-link" (click)="optionChosen()">Dostawa</div></a>
      <a routerLink="/aboutus"><div class="menu-item" routerLinkActive="active-link" (click)="optionChosen()">O nas</div></a>
    </div>

  </div>
</div>
