.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorBackground);
  color: black;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item {
  user-select: none;
  padding: 1em;
  font-weight: bold;
  color: #eeeeee;
  transition: 300ms ease all;
}

.navbar-left {
  display: flex;
  flex-direction: row;
}

.menu-item:hover {
  color: black;
  cursor: pointer;
  color: var(--colorAccent);
  transition: 300ms ease all;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.logo {
  padding: 0.2em;
  padding-left:0.4em;
  font-size: 2em;
  user-select: none;
  color: #eeeeee;
  text-shadow: 0px 0px 19px rgba(255, 255, 255, 0.4);
  font-weight: bold;
  transition: 300ms ease all;
}

.logo:hover {
  cursor: pointer;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
  transition: 300ms ease all;
}

.active-link {
  color: var(--colorAccent);
  transition: 300ms ease all;
}

.login-register-btn {
  background-color: rgb(0, 121, 0);
  color: white;
}

.login-register-btn:hover {
  background-color: rgb(0, 190, 0);
  color: rgb(0, 0, 0);
}

.logout-btn {
  background-color: rgb(24, 0, 109);
  color: white;
}

.logout-btn:hover {
  background-color: rgb(43, 0, 201);
  color: rgb(0, 0, 0);
}

.panel-btn {
  background-color: rgb(190, 0, 0);
  color: white;
}

.panel-btn:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.active-link2 {
  background-color: rgb(255, 0, 0);
  color: black;
}

.active {
  display: block;
  visibility: visible;
  transition: 500ms ease all;
}

.hidden {
  display: none;
  visibility: hidden;
  transition: 500ms ease all;
}

.hamburger-button button {
  position: relative;
  width: 40px;
  height: 40px;
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  z-index: 50;
  border-radius: 5px;
}

.hamburger-button button:focus {
  outline: 0;
}

.hamburger-button button span {
  display: block;
  width: 80%;
  height: 2px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu-ham-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  transition: 500ms ease all;
}
.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  font-size:1.6em;
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  z-index: 10;
  text-align: center;
}

.rolled-out {
  transform: translateX(100%);
  transition: 500ms ease all;
  overflow-y: hidden;
}
.blur-page{
  position:absolute;
  background-color: rgb(0, 0, 0,0.1);
  width: 104vw;
  height: 104vh;
  top: -2%;
  left: -2%;

}

.rolled-in {
  transform: translateX(0);
  transition: 500ms ease all;
  overflow-y: visible;
}

.anim-1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.anim-2 {
  opacity: 0;
}
.anim-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hidden{
  visibility: hidden;

}

.visible{
  visibility: visible;
}


@media only screen and (max-width: 948px) {
  .hamburger-button {
    display: block;
    visibility: visible;
    margin-right: 0.8em;
    margin-left: 0.8em;
  }

  .navbar-container {
    justify-content: space-between;
  }

  .menu-items {
    display: none;
    visibility: hidden;
  }
}
