<div class="navbar-container" [class.navbar-scrolled]="pageScrolled==true">
  <div class="navbar-left">
    <a routerLink="/" (click)="scrollToTop();">
      <div class="logo">
        <h1 [class.navbar-logo-scrolled]="pageScrolled==true">MG FOODS</h1>
      </div>
    </a>
    <div class="menu-items" >
      <a *ngIf="auth.userRoles.admin == true" (click)="scrollToTop();" routerLink="admin">
        <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">
          Admin dashboard
        </div>
      </a>
      <a *ngIf="auth.userRoles.menager == true" (click)="scrollToTop();" routerLink="menager">
        <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">
          Manager dashboard
        </div>
      </a>

    </div>
  </div>

  <div class="menu-items">
    <a routerLink="/dashboard" (click)="scrollToTop();" *ngIf="auth.userData != null">
      <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">
        Hello {{auth.userData.email}}
      </div>
    </a>
    <div [class.navbar-item-scrolled]="pageScrolled==true" *ngIf="auth.userData != null">
      |
    </div>
    <a routerLink="/register" (click)="scrollToTop();" *ngIf="auth.userData == null">
      <div class="menu-item"[class.navbar-item-scrolled]="pageScrolled==true"  routerLinkActive="active-link">
        Register
      </div>
    </a>
    <a routerLink="/login" (click)="scrollToTop();" *ngIf="auth.userData == null">
      <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">
        Login
      </div>
    </a>
    <div class="menu-item" (click)="scrollToTop();" [class.navbar-item-scrolled]="pageScrolled==true" (click)="auth.signOut()" *ngIf="auth.userData != null">
      Logout
    </div>
    <a routerLink="/dishes" (click)="scrollToTop();">
      <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">Foods</div>
    </a>
    <a routerLink="/shipping" (click)="scrollToTop();">
      <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">Shipping</div>
    </a>
    <a routerLink="/aboutus" (click)="scrollToTop();">
      <div class="menu-item" [class.navbar-item-scrolled]="pageScrolled==true" routerLinkActive="active-link">About us</div>
    </a>
  </div>
  <div class="hamburger-button hidden">
    <button type="button" (click)="hamburgerHandler()">
      <span [class.anim-1]="hamburgerOpened == true"></span>
      <span [class.anim-2]="hamburgerOpened == true"></span>
      <span [class.anim-3]="hamburgerOpened == true"></span>
    </button>
  </div>
  <div class="menu-ham-items" [class.hidden]="hamburgerOpened == false" [class.visible]="hamburgerOpened == true" [class.rolled-in]="hamburgerOpened == true" [class.rolled-out]="hamburgerOpened == false">
    <div class="wrapper">
      <a routerLink="/dashboard" (click)="optionChosen();scrollToTop();" *ngIf="auth.userData != null" routerLinkActive="active-link">
        <div class="menu-item">
          Hello {{auth.userData.email}}
        </div>
      </a>
      <a *ngIf="auth.userRoles?.admin == true" (click)="optionChosen();scrollToTop();" routerLink="admin"
        routerLinkActive="active-link2">
        <div class="menu-item" routerLinkActive="active-link">
          Admin dashboard
        </div>
      </a>
      <a *ngIf="auth.userRoles?.menager == true" (click)="optionChosen();scrollToTop();" routerLink="menager"
        routerLinkActive="active-link2">
        <div class="menu-item" routerLinkActive="active-link">
          Manager dashboard
        </div>
      </a>
      <a routerLink="/register" (click)="optionChosen();scrollToTop();" *ngIf="auth.userData == null">
        <div class="menu-item" routerLinkActive="active-link">
          Register
        </div>
      </a>
      <a routerLink="/login" (click)="optionChosen();scrollToTop();" *ngIf="auth.userData == null">
        <div class="menu-item" routerLinkActive="active-link">
          Login
        </div>
      </a>
      <div class="menu-item" (click)="auth.signOut(); optionChosen();scrollToTop();" *ngIf="auth.userData != null">
        Logout
      </div>
      <a routerLink="/dishes">
        <div class="menu-item" routerLinkActive="active-link" (click)="optionChosen();scrollToTop();">
          Foods
        </div>
      </a>
      <a routerLink="/shipping">
        <div class="menu-item" routerLinkActive="active-link" (click)="optionChosen();scrollToTop();">
          Shipping
        </div>
      </a>
      <a routerLink="/aboutus">
        <div class="menu-item" routerLinkActive="active-link" (click)="optionChosen();scrollToTop();">
          About us
        </div>
      </a>
    </div>
  </div>
</div>