<div class="inner">
    <div class="infobtn">
        <a routerLink="/dishes">Powrót do dań</a>
    </div>
</div>


<ng-container *ngIf="dish.length>0">
    <div class="wrapper">
        <h1>{{dish[0].name}}</h1>
        <h2 class="shdesc">kuchnia {{ dish[0].type}}, {{ dish[0].category }}</h2>
        <img src={{dish[0].imagelink[selected]}}>
        <p>Inne zdjęcia potrawy</p>
        <div class="photoselect">
            <span (click)="nextPhoto()"><</span>
            <span (click)="previousPhoto()">></span>
        </div>
        <p class="desc">{{ dish[0].shortdesc }}</p>
        <p class="ingr">Składniki: {{ dish[0].ingredients }}</p>
        <h2>Dostępny u nas tylko za <span class="price">${{dish[0].price}}</span></h2>
    </div>
    <app-dishrate></app-dishrate>
</ng-container>
