.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

h1{
    font-size:4em;
}
h2{
    margin:1em;
    text-align: center;
}
h2.shdesc{
    color:rgb(61, 61, 61);
    font-style:italic;
    margin-bottom:1.2em;
}
img{
    margin:1em;
    max-width:100%;
    border-radius:20px;
    width: 80%;
}
.desc{
    font-size:2em;
    margin:1em;
}

.ingr{
    font-weight: bold;
}
.price{
    color:green;
    font-weight:bolder;
}

.infobtn{
    position: absolute;
    z-index: 0;
    right:0;
    background-color: rgb(240, 191, 57);
    padding:0.4em;
    text-align: center;
    border-radius:10px;
    margin-top:1em;
    margin-bottom:1em;
    transition: 300ms ease all;
    width:fit-content;
    cursor:pointer
}

.infobtn:hover{
    color:white;
    background-color: rgb(216, 158, 0);

    transition: 300ms ease all
}
.inner{
    position:relative;
    width:100%;
}


a{
    color:inherit;
    text-decoration: inherit;
}

.photoselect{
    font-size:4em;
    user-select: none;
    cursor:pointer;
    margin-top:-0.2em;
}

span.np:hover{
    color:white;
    transition: 300ms ease all;
}
span.np{
    transition: 300ms ease all;
}

.review{
    border:1px solid black;
    margin:1em;
}
.strong{
    font-weight: bold;
    font-size:1.2em;
}