h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 7em;
  margin: 1em;
}

h2 {
  margin: 0.6em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  text-align: center;
}
img {
  margin: 1em;
}

@media only screen and (max-width: 516px) {
  h1 {
    font-size: 2.4em;
  }
}
