body {
	background-color: #FFCC66;
	background-image: url(butterfly.gif);
	background-repeat: no-repeat;                 
	background-attachment: fixed;	     
        
  
}
h1 {
	color: #990000;
	background-color: #FC9804;
}



